In [1]:
import os
from datetime import datetime

# Don't unhashtag this - yet! 
# import pandas as pd

# Fast review

1. What is a list?
2. What is a dictionary? 
3. What is a Pytyon library? 
4. What are two conventions for importing data from files in Python?

# Learning objectives

0. Review .csv importation, the working directory, and two common errors: Name and File
1. Begin to work with data frames in Python (tabular structures, like a spreadsheet!) 
2. Basic methods: `.head()`, `.rename()`, `.describe()`, and `.value_counts()`
3. Basic attributes: `.columns` and `.shape`
4. Subsetting: `.iloc()`, `.loc()`, and conditional 
5. Adding and removing columns

# Pandas

Pandas is designed to make it easier to work with [structured data](https://learn.g2.com/structured-vs-unstructured-data). Most of the analyses you might perform will likely involve using tabular data, e.g., from .csv files or relational databases (e.g., SQL). The DataFrame object in pandas is "a two-dimensional tabular, column-oriented data structure with both row and column labels."

**i.e., a spreadsheet!**

The pandas name itself is derived from panel data, an econometrics term for multidimensional structured data sets, and Python data analysis itself. [Check out the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/) to learn more!

### Import .csv file

Import the correspondence dataset:

In [2]:
# Uh-oh! # What is a NameError? Review "1-8_errors-help.ipynb" for a hint.
letters = pd.read_csv("correspondence-data-1585.csv")

NameError: name 'pd' is not defined

In [3]:
import pandas as pd

Alright! Now we are good to go, right?

In [4]:
# What is a FileError? Review "1-8_errors-help.ipynb" for a hint.
letters = pd.read_csv("correspondence-data-1585.csv")

FileNotFoundError: [Errno 2] File correspondence-data-1585.csv does not exist: 'correspondence-data-1585.csv'

# Set the working directory

Remember to....

In [5]:
# First, view the file path to your current working directory:
# %pwd
os.getcwd()

'/Users/samay_s1/Desktop/GitHub/DIGHUM101-2020/Notebooks/Week2'

In [6]:
# Then change the working directory path to the Data folder
# Go "up" two levels in your file structure and into the Data folder:
os.chdir("../../Data/")
os.getcwd()

'/Users/samay_s1/Desktop/GitHub/DIGHUM101-2020/Data'

In [7]:
# List the files in the working directory
# You should see "correspondence-data-1585.csv"
%ls

childrens_lit.csv             frankenstein.txt
correspondence-data-1585.csv  gapminder-FiveYearData.csv
example.json                  human-rights/
example.xml                   iris.csv
feminism.json                 music_reviews.csv
feminism.xml

In [8]:
# Now we can load the file! :) 
letters = pd.read_csv("correspondence-data-1585.csv")

# `.head()`, `.describe()`, and `.value_counts()`

The `.head()` method will show the first five rows by default. Put an integer in the parentheses to specify a different number of rows. 

`.describe()` provides basic summary statistics. 

`.value_counts()` counts frequencies.

In [9]:
# View the first 3 rows
letters.head(3)

                    writer   source destination        date
0  Meulen, Andries van der  Antwerp       Delft  1585-01-03
1  Meulen, Andries van der  Antwerp     Haarlem  1585-01-09
2  Meulen, Andries van der  Antwerp     Haarlem  1585-01-11

In [10]:
# Produce some quick summary statistics
letters.describe()

                         writer   source destination        date
count                       114      114         114         114
unique                       12        9           5          97
top     Meulen, Andries van der  Antwerp       Delft  1585-05-28
freq                         63       76          95           4

# `.value_counts()`

Now, we can investigate how many of each category?

In [11]:
# How many letters by each writer?
letters["writer"].value_counts()

Meulen, Andries van der           63
Della Faille, Jacques             31
Della Faille, Marten               6
Staten van Brabant                 4
Noirot, Jacques                    2
Wale, Jan de                       2
Burgemeesters of Antwerp           1
Janssen van der Meulen, Peeter     1
Della Faille, Joris                1
Calvart, Jacques                   1
Anraet, Thomas                     1
Eeckeren, Robert van               1
Name: writer, dtype: int64

In [12]:
# Which city was the most frequent source?
letters["source"].value_counts()

Antwerp      76
Haarlem      30
Venice        2
Het Vlie      1
Dordrecht     1
Emden         1
Lisse         1
Amsterdam     1
Hamburg       1
Name: source, dtype: int64

In [13]:
# Which city was the most frequent destination?
letters["destination"].value_counts()

Delft         95
Haarlem        8
Bremen         6
The Hague      3
Middelburg     2
Name: destination, dtype: int64

# Column names

You can call [attributes](https://medium.com/@shawnnkoski/pandas-attributes-867a169e6d9b) of a Pandas variable by using "dot notation" - but without the parentheses to unpack more information.

In [14]:
# Error! No such method exists
letters.columns()

TypeError: 'Index' object is not callable

In [15]:
# List the column names using the .columns *attribute*
letters.columns

Index(['writer', 'source', 'destination', 'date'], dtype='object')

# Select Columns

Select a single column by typing its name as a string in square brackets. View just the first five rows:

In [16]:
letters["writer"][:5]

0    Meulen, Andries van der
1    Meulen, Andries van der
2    Meulen, Andries van der
3    Meulen, Andries van der
4    Meulen, Andries van der
Name: writer, dtype: object

# Double lists

You can also call multiple columns by passing their names in as strings to a [double list](https://stackoverflow.com/questions/33417991/pandas-why-are-double-brackets-needed-to-select-column-after-boolean-indexing)! View just the first five rows:

In [ ]:
# That's a lot of square brackets!
letters[["writer", "date"]][:5]

# `.rename()`

Nice! Now that we know how to access the column names, we can edit the columns names with the .`rename()` method.

Pass in a dictionary argument to the columns parameter like this: `columns = {"old_name":"new_name"}`

In [ ]:
letters.rename(columns = {"writer" : "Writer", 
                          "source" : "Origin",
                          "destination" : "Dest",
                          "date" : "Date"}, 
               inplace = True) # what does inplace = True mean? How do you find out?

# View the updated column names
print(letters.columns)

# or

letters.head()

# Slice Rows

You can slice rows like you would a string or a list. If we just want the 7th, 8th, and 9th rows:

In [ ]:
letters[6:9]

# `iloc()`

... or use `iloc()` to return non-consecutive rows. Pass in **integers** as a double list. 

For example, to get the 4th, 12th, and 29th rows:

In [ ]:
letters.iloc[[3, 11, 28]]

... and pass in a second interior list to specify columns! Select just the "Writer" (0th index) and "Date" (3rd index) columns:

In [ ]:
letters.iloc[[3, 11, 28], [0, 3]]

# `.loc()` 

While `.iloc()` requires integers, regular `.loc()` allows you to pass in column names:

In [ ]:
letters.loc[[3, 11, 28], ["Writer", "Date"]]

# Conditional Subsetting

What is we want a subset based on a condition? For example, what if we just wanted a subset for data only when Destination is equal to Haarlem? 

... _and_ Writer is equal to Meulen, Andries van der?

In [ ]:
# Data frame just of Haarlem destinations...
h = letters.loc[letters["Dest"] == "Haarlem"]
h

In [ ]:
# Data frame just of Andries van der Meulen
am = letters.loc[letters["Writer"] == "Meulen, Andries van der"]
am.head()

# What does the .shape attribute do?
# 63 rows and 4 columns
am.shape

In [ ]:
# Data frame that includes both Haarlem as the destination AND Andries van der Meulen 
both = letters.loc[(letters["Dest"] == "Haarlem") & 
                   (letters["Writer"] == "Meulen, Andries van der")]
both

Learn more by [reading the documentation here](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html) - what is the difference between `&` and `|` ?

# Create a Column: 

You can add a new column by renaming it in place - just like with a list or dictionary:

In [ ]:
letters["Estimated_Arrival"] = "Arrival date"

# All entries for "Estimated_Arrival" say "Arrival date"
letters.head()

We can populate this column with the results of some expression/calculation. Perhaps we estimated it would have taken 10 days for a letter to reach its destination.

> NOTE: Working with datetimes in Python can be particularly frustrating! You will learn more about custom functions, for loops, list comprehensions, and lambda functions starting in week 3. The reason we are glossing over them now is so that you focus on what is possible for planning your individual projects instead of getting lost and frustrated in the nuances of the Python code.

In [ ]:
# Lambda function:
# letters["Date"] = letters['Date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

# List comprehension
letters["Date"] = [datetime.strptime(x, '%Y-%m-%d').date() for x in letters["Date"]]

In [ ]:
# Add 10 days to each Date
letters['Estimated_Arrival'] = letters['Date'] + pd.DateOffset(days=10)

In [ ]:
letters.head()

# Delete Column

We can use our `del` statement to delete a column just like we did with lists:

In [ ]:
# "Date" is removed!
del letters["Date"]
letters.head()