# Challenge 1 - The Working Directory

Set your working directory to the Data folder in your DIGHUM101-2020 course materials

In [1]:
import os

In [2]:
# First, view the file path to your current working directory:
# %pwd
os.getcwd()

In [3]:
# Go "up" three levels in your file structure and into the Data folder:
os.chdir("../../../Data")
os.getcwd()

'/Users/samay_s1/Desktop/GitHub/DIGHUM101-2020/Data'

In [4]:
# List the files in this working directory
%ls

childrens_lit.csv             frankenstein.txt
correspondence-data-1585.csv  gapminder-FiveYearData.csv
example.json                  human-rights/
example.xml                   iris.csv
feminism.json                 music_reviews.csv
feminism.xml

# Challenge 2: Pandas - Import .csv File

Import the music_reviews.csv file and save it in a variable named music. Use the head method to show the first twelve rows. 

> HINT: remember this is a TAB separated .csv file, so you have to add a second argument to tell Python that the file is tab-delineated (not comma delineated).

In [5]:
import pandas as pd

In [6]:
## YOUR CODE HERE
music = pd.read_csv('music_reviews.csv', sep = "\t")
music

,album,artist,genre,release_date,critic,score,body
0,Don't Panic,All Time Low,Pop/Rock,2012-10-09 00:00:00,Kerrang!,74.0,While For Baltimore proves they can still writ...
1,Fear and Saturday Night,Ryan Bingham,Country,2015-01-20 00:00:00,Uncut,70.0,There's nothing fake about the purgatorial nar...
2,The Way I'm Livin',Lee Ann Womack,Country,2014-09-23 00:00:00,Q Magazine,84.0,All life's disastrous lows are here on a caree...
3,Doris,Earl Sweatshirt,Rap,2013-08-20 00:00:00,Pitchfork,82.0,"With Doris, Odd Future’s Odysseus is finally b..."
4,Giraffe,Echoboy,Rock,2003-02-25 00:00:00,AllMusic,71.0,Though Giraffe is definitely Echoboy's most im...
...,...,...,...,...,...,...,...
4996,Outer South,Conor Oberst And The Mystic Valley Band,Indie,2009-05-05 00:00:00,Slant Magazine,67.0,The result is an album that's unfortunately ba...
4997,On An Island,David Gilmour,Rock,2006-03-07 00:00:00,E! Online,67.0,"In the end, Island makes Dave sound like he's ..."
4998,Movement,Gossip,Indie,2003-05-06 00:00:00,Uncut,81.0,Beth Ditto's remarkable gospel holler and ferv...
4999,Locked Down,Dr. John,Pop/Rock,2012-04-03 00:00:00,PopMatters,86.0,"Dr. John is Dr. John. He's a star, and is on f..."
5000,And Their Refinement Of The Decline,Stars Of The Lid,Rock,2007-04-07 00:00:00,PopMatters,87.0,"Their work, especially that displayed on Refin..."

# Challenge 3: `.describe()`

Use the .describe() method to find the average review score for all albums in this dataset.

In [7]:
## YOUR CODE HERE
music.describe()

             score
count  5001.000000
mean     72.684223
std       8.714896
min       7.400000
25%      68.000000
50%      74.000000
75%      79.000000
max     100.000000

# Challenge 4: Rename Column Names

Recall how to print the columns of a data frame. It looks like a method but without the trailing round parentheses is called an attribute!

Rename the "album" column name to "ALBUM" and the "body" column name to "Body". What data structure can you use to do so?

In [8]:
## YOUR CODE HERE
music = music.rename(columns={'album':'ALBUM',
                              'body':'Body'})

# Challenge 5: Slice It! 

Slice music to return just the 3rd, 4th, and 5th reviews. Save this in a variable named music_subset

> HINT: will the 3rd, 4th, and 5th rows or columns be returned?

In [9]:
## YOUR CODE HERE
music_subset = music[3:6]
music_subset

,ALBUM,artist,genre,release_date,critic,score,Body
3,Doris,Earl Sweatshirt,Rap,2013-08-20 00:00:00,Pitchfork,82.0,"With Doris, Odd Future’s Odysseus is finally b..."
4,Giraffe,Echoboy,Rock,2003-02-25 00:00:00,AllMusic,71.0,Though Giraffe is definitely Echoboy's most im...
5,Weathervanes,Freelance Whales,Indie,2010-04-13 00:00:00,Q Magazine,68.0,Fans of Owl City and The Postal Service will r...

# Challenge 6: `iloc`

Use `.iloc` to return just the 1st, 82nd, 988th, 2561st, 4002nd, and and last review in a variable named music2

In [10]:
## YOUR CODE HERE
music2 = music.iloc[[1,82,988,2561,4002,len(music)-1]]
music2

,ALBUM,artist,genre,release_date,critic,score,Body
1,Fear and Saturday Night,Ryan Bingham,Country,2015-01-20 00:00:00,Uncut,70.0,There's nothing fake about the purgatorial nar...
82,Neon Bible,Arcade Fire,Indie,2007-03-06 00:00:00,Prefix Magazine,87.0,Some Funeral devotees may be disappointed by t...
988,Until The Earth Begins To Part,Broken Records,Indie,2009-07-07 00:00:00,AllMusic,64.0,"As far as debut albums go, Until the Earth Beg..."
2561,Folly,Kitchens of Distinction,Pop/Rock,2013-09-30 00:00:00,Magnet,76.0,Folly finds KOD darker and statelier than ever...
4002,Reptile,Eric Clapton,Rock,2001-03-13 00:00:00,Rolling Stone,66.0,"Over the course of fourteen tracks, Clapton bl..."
5000,And Their Refinement Of The Decline,Stars Of The Lid,Rock,2007-04-07 00:00:00,PopMatters,87.0,"Their work, especially that displayed on Refin..."

# Challenge 7: `iloc` Slice and Stride

Use `.iloc` to return every 40th album between reviews 20 and 200 and save this subset in a variable named music3

In [11]:
## YOUR CODE HERE
music3 = music.iloc[range(20,200,40)]
music3

,ALBUM,artist,genre,release_date,critic,score,Body
20,July Flame,Laura Veirs,Indie,2010-01-12 00:00:00,musicOMH.com,81.0,Laura Veirs makes an excellent case for hersel...
60,Angels & Devils,The Bug,Electronic,2014-08-26 00:00:00,The Quietus,83.0,An album that's otherwise remarkably deft at u...
100,Pilot Talk III,Curren$y,Rap,2015-04-04 00:00:00,bossmanrwat11,78.0,"Big Spitta fan here, but his remarkable consis..."
140,A Thousand Shark's Teeth,My Brightest Diamond,Indie,2008-06-17 00:00:00,PopMatters,72.0,"It’s a swooning, big-gestured album to get los..."
180,Television Man,Naomi Punk,Pop/Rock,2014-08-05 00:00:00,Rolling Stone,71.0,"Sure, the songs' formulaic stop-and-spurt atta..."

# Challenge 8: `iloc` Rows and Columns

Use `iloc` to extract the last five rows in the music data set but only the "artist", "ALBUM", and "score" columns - in that order!

> HINT: How do `iloc` and `loc` differ?

In [12]:
## YOUR CODE HERE
music.iloc[-5:,[1,0,5]]

,artist,ALBUM,score
4996,Conor Oberst And The Mystic Valley Band,Outer South,67.0
4997,David Gilmour,On An Island,67.0
4998,Gossip,Movement,81.0
4999,Dr. John,Locked Down,86.0
5000,Stars Of The Lid,And Their Refinement Of The Decline,87.0

# Challenge 9: `.loc` Rows and Columns 

Use `loc` to extract the first 5 rows in the music data set but only the "artist", "ALBUM", and "score" columns - in that order!

In [13]:
## YOUR CODE HERE
music.loc[:4,['artist', 'ALBUM','score']]

            artist                    ALBUM  score
0     All Time Low              Don't Panic   74.0
1     Ryan Bingham  Fear and Saturday Night   70.0
2   Lee Ann Womack       The Way I'm Livin'   84.0
3  Earl Sweatshirt                    Doris   82.0
4          Echoboy                  Giraffe   71.0

# Challenge 10: Create New Column

Create a new column in music3 named "score_int" that is a copy of "score" - but converted to an integer.

In [28]:
## YOUR CODE HERE
music3['score_int'] = music3['score'].astype(int)
music3

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ALBUM,artist,genre,release_date,critic,score,Body,score_int
20,July Flame,Laura Veirs,Indie,2010-01-12 00:00:00,musicOMH.com,81.0,Laura Veirs makes an excellent case for hersel...,81
60,Angels & Devils,The Bug,Electronic,2014-08-26 00:00:00,The Quietus,83.0,An album that's otherwise remarkably deft at u...,83
100,Pilot Talk III,Curren$y,Rap,2015-04-04 00:00:00,bossmanrwat11,78.0,"Big Spitta fan here, but his remarkable consis...",78
140,A Thousand Shark's Teeth,My Brightest Diamond,Indie,2008-06-17 00:00:00,PopMatters,72.0,"It’s a swooning, big-gestured album to get los...",72
180,Television Man,Naomi Punk,Pop/Rock,2014-08-05 00:00:00,Rolling Stone,71.0,"Sure, the songs' formulaic stop-and-spurt atta...",71

# Challenge 11: Create New Column with Calculation

Create a new column named "decimal" that is a copy of "score_int" but that is divided by 100 and rounded to two decimal places.

In [31]:
## YOUR CODE HERE
music3['decimal'] = music3['score_int']/100
music3.head()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ALBUM,artist,genre,release_date,critic,score,Body,score_int,decimal
20,July Flame,Laura Veirs,Indie,2010-01-12 00:00:00,musicOMH.com,81.0,Laura Veirs makes an excellent case for hersel...,81,0.81
60,Angels & Devils,The Bug,Electronic,2014-08-26 00:00:00,The Quietus,83.0,An album that's otherwise remarkably deft at u...,83,0.83
100,Pilot Talk III,Curren$y,Rap,2015-04-04 00:00:00,bossmanrwat11,78.0,"Big Spitta fan here, but his remarkable consis...",78,0.78
140,A Thousand Shark's Teeth,My Brightest Diamond,Indie,2008-06-17 00:00:00,PopMatters,72.0,"It’s a swooning, big-gestured album to get los...",72,0.72
180,Television Man,Naomi Punk,Pop/Rock,2014-08-05 00:00:00,Rolling Stone,71.0,"Sure, the songs' formulaic stop-and-spurt atta...",71,0.71

# Challenge 12: Reorder Columns

Reorder the columns of music3 in this order: critic, genre, artist, ALBUM, score, score_int, decimal, Body, release_date

In [33]:
## YOUR CODE HERE
music3 = music3[['critic', 'genre', 'artist', 'ALBUM', 'score', 'score_int', 'decimal', 'Body', 'release_date']]

,critic,genre,artist,ALBUM,score,score_int,decimal,Body,release_date
20,musicOMH.com,Indie,Laura Veirs,July Flame,81.0,81,0.81,Laura Veirs makes an excellent case for hersel...,2010-01-12 00:00:00
60,The Quietus,Electronic,The Bug,Angels & Devils,83.0,83,0.83,An album that's otherwise remarkably deft at u...,2014-08-26 00:00:00
100,bossmanrwat11,Rap,Curren$y,Pilot Talk III,78.0,78,0.78,"Big Spitta fan here, but his remarkable consis...",2015-04-04 00:00:00
140,PopMatters,Indie,My Brightest Diamond,A Thousand Shark's Teeth,72.0,72,0.72,"It’s a swooning, big-gestured album to get los...",2008-06-17 00:00:00
180,Rolling Stone,Pop/Rock,Naomi Punk,Television Man,71.0,71,0.71,"Sure, the songs' formulaic stop-and-spurt atta...",2014-08-05 00:00:00

# Challenge 13: `.value_counts()`

Use `.value_counts()` to sum the total number of reviews for each critic. Return only the top 20.

In [58]:
## YOUR CODE HERE
music['critic'].value_counts().head(20)

AllMusic                     282
PopMatters                   228
Pitchfork                    207
Q Magazine                   178
Uncut                        171
Mojo                         137
Drowned In Sound             132
New Musical Express (NME)    127
The A.V. Club                121
Rolling Stone                112
Under The Radar              100
Spin                          97
The Guardian                  96
musicOMH.com                  88
Entertainment Weekly          87
Slant Magazine                83
Paste Magazine                72
Alternative Press             69
Consequence of Sound          69
Prefix Magazine               68
Name: critic, dtype: int64

# Challenge 14: Import .csv file from a URL

You can also import data from web addresses. Import the file found at this URL and save it in a variable named countries: https://raw.githubusercontent.com/dlab-berkeley/introduction-to-pandas/master/data/countries.csv

Use `.value_counts()` to state how many of these countries are EU versus non-EU; save this as a DataFrame named summary

In [63]:
## YOUR CODE HERE
countries = pd.read_csv('https://raw.githubusercontent.com/dlab-berkeley/introduction-to-pandas/master/data/countries.csv')

Use `.value_counts()` to show how many EU versus non-EU countries are in this dataset:

In [64]:
## YOUR CODE HERE
summary = countries['country_group'].value_counts()
summary

eu        27
non-eu     3
Name: country_group, dtype: int64